  html {
    display: flex;
  }
  
  body {
    padding: 0;
    margin: 0;
  }

  .flex-container {
    display: flex;
    position: fixed;
    width: 100%;
    background: #75868e;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
  }
  
  #div1 {
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
  }  
  
  #div2 {
    display: flex;
    width: 33%;
    align-items: center;
    justify-content: center;
  }
  
  #div3 {
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #header {
    position: fixed;
    top: 0%;
  }
  
  #nav-bar ul {
    list-style-type: none;
    padding: 0;
  }
  
  #nav-bar ul li{
     display: inline-flex;
     padding: 15px 30px;
  }
  
  #nav-bar ul li a{
    color: white;
    text-decoration: none;
    font-size: 1.40rem;
    font-weight: 600;
  }

  #nav-bar ul li a:hover{
    color: rgba(255, 255, 255, 0.6);
  }

  #header-img{
    width: 20%;
    margin-top: 15px;
  }
  
  input {
    border-radius: 25px;
    border: 2px solid black;
    color: black;
    padding: 10px;
    width: 175px;
  }
  
  #submit {
    border-radius: 30px;
    width: 75px;
    background-color: white;
    color: black;
  }
  
  .backdrop1 {
    display: flex;
    overflow: hidden;
    flex-direction: row;
    align-items: center;
  }

  .backdrop1 img {
    width: 100%;
    background-size: cover;
  }

  h1 {
    position: absolute;
    top: 35%;
    left: 40%;
    font-size: 225%;
    color: black;
    text-align: center;
    
  }

  .text {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: rgba(101, 97, 71, 0.2);
    color: black;
    padding-top: 8%;
    padding-bottom: 8.5%;
  }

  .box {
    width: 33%;
    padding-right: 2%;
  }

  .quality-box {
    margin-left: 15%
  }

  .third-box {
    margin-right: 15%;
  }

  .icon {
    display: flex;
    justify-content: center;
  }

 i {
    font-size: 2em;
  }

  i.fas:hover {
    color: rgb(146, 141, 111);
  }

  #video {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .box h2 {
    text-align: center;
    font-size: 1.40rem;
  }
  
  .box p {
    font-size: 1.15rem;
  }
 
  #shop {
    background: #959ea3;
    padding: 6% 0;
  }

  #source {
    text-align: center;
  }
  
  #pricing {
    background: #75868e;
    padding: 6% 0;
  }

  .pricing-grid, .pricing-grid h2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .pricing-box {
    flex-direction: column;
    border: 2px solid black;
    
  }

  .pricing-box:hover {
    box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.4);
  }

  .pricing-box h2 {
    font-size: 1.6rem;
    color: white;
    background: #556972;
    margin: 0;
    text-align: center;
    padding: 1.5rem 0;
  }

  .pricing-box ol{
    list-style-type: none;
    padding: 0 0;
    margin: 0;
  }

  .pricing-box li {
    border-top: 1px solid black;
    font-size: 1.3rem;
    padding: 1rem 1rem;
    text-align: center;
  }

  .buy-now-btn h2{
    cursor: pointer;
  }

  .buy-now-btn h2:hover{
    transform:scale(1.05); 
  }

  footer {
    padding-top: 1.5rem;
    padding-bottom: 5rem;
    background-color: rgba(101, 97, 71, 0.2);
  }

  footer ul{
    list-style-type: none;
  }

  footer ul li{
    display: inline-flex;
    padding: 0 1rem;
    float: left;
  }

  footer ul li a{
    text-decoration: none;
    color: black;
  }

  footer span {
    float: right;
    margin-right: 2.5rem;
  }

  footer ul li a:hover{
    color: rgba(46, 11, 11, 0.4);
  }

  @media (max-width: 1000px) {
    .text{
      padding: 10% 2%;
      height: 100vh;
    }
    .quality-box {
      margin-left: 0%;
    }
    .third-box {
      margin-right: 0%;
    }
  }
  
  @media (max-width: 1100px){
    .flex-container{
      flex-direction: column;
    }
    #div1, #div2, #div3 {
      width: 100%;
      height: 0%;
      align-items: center;
      justify-content: center;
    }
    h1 {
      margin-top: 10%;
    }
    .backdrop1 img {
      width: 400%;
      margin-left: -48%;
    }
  }

  @media (max-width: 860px){
    .backdrop1 img {
      width: 400%;
      margin-left: -100%;
    }
    .quality-box {
      margin-left: 2%;
    }
  
    .third-box {
      margin-right: 2%;
      padding-right: 0;
    }
  }
  
  @media (max-width: 700px){
    header {
      flex-wrap: wrap;
    }
    h1{
      margin-top: 40%;
    }
    .text {
      margin: 0 0;
    }
  }

  @media (max-width: 420px){
    h1{
      margin-top: 50%;
    }
  
    h1 {
      font-size: 2rem;
      margin-left: 40%;
    }

    .text p{
      font-size: 150%;
    }
    .backdrop1 img {
      width: 400%;
      margin-left: -100%;
    }
    .quality-box {
      margin-left: 2%;
    }
  
    .third-box {
      margin-right: 2%;
      padding-right: 0;
    }
  }

